@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";
@custom-variant hover (&:hover);

:root {
  --neutral: #404040;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-500: #71717a;
  --zinc-800: #27272a;
  --error: #ef4444;
}

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;

  cursor: default;
}
::selection{
  background: var(--neutral);
  color: white;
}